jQuery ->
  $('.best_in_place').best_in_place()

jQuery ->
  if($("#fileDropPane")[0])
    filepicker.setKey("<%= Filepicker.api_key %>")
    filepicker.makeDropPane($('#fileDropPane')[0], {
      multiple: false
      dragEnter: ->
        $("#fileDropPane").html("Drop to upload").css({
          'backgroundColor': "#E0E0E0",
          'border': "1px solid #000"
        })
      dragLeave: ->
        $("#fileDropPane").html("Drop files here").css({
          'backgroundColor': "#F6F6F6",
          'border': "1px dashed #666"
        })
      onSuccess: (fpfiles)->
        $("#fileDropPane").text("Done, see result below")
        $("#page_remote_image_url").val(fpfiles[0]["url"])
        $("#localDropResult").text("OK, you're ready to go!")
        $("<img src='#{fpfiles[0]['url']}'/>").appendTo("#localDropResult")
      onError: (type, message) ->
        $("#localDropResult").text('('+type+') '+ message)
      onProgress: (percentage)->
        $("#fileDropPane").text("Uploading ("+percentage+"%)")
    })

jQuery(document).on('best_in_place:error', (event, request, error)->
  jQuery.each(jQuery.parseJSON(request.responseText)["errors"], (index, value) ->
    container = jQuery("<span class='alert alert-error'>#{index}: #{value}</span>").html(value)
    container.purr()
  )
)
