@import "bootstrap";

#fileDropPane {
    text-align: center;
    padding: 20px;
    background-color: #F6F6F6;
    border: 1px dashed #666;
    border-radius: 6px;
    margin-bottom: 20px;
}

.page {
  @extend .row;
  .main {
    @include makeColumn(8);

    .footer {
      @extend .muted;
      margin-top: 30px;
    }
  }
  aside {
    @include makeColumn(4);
  }
}
