@import "bootstrap";

#fileDropPane {
    text-align: center;
    padding: 20px;
    background-color: #F6F6F6;
    border: 1px dashed #666;
    border-radius: 6px;
    margin-bottom: 20px;
}

.page {
  @extend .row;
  .main {
    @include makeColumn(8);

    .footer {
      @extend .muted;
      margin-top: 30px;
    }
  }
  aside {
    @include makeColumn(4);
  }
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}
